<a href="articles/{{ article.url }}">
    <div class="article-thumbnail">
        <img src="{{ asset('uploads/articles/' ~ article.vignette) }}">
        <div class="article-thumbnail-info">
            <h3>{{ article.title }}</h3>
            <h4> {{ article.epigraphe }}</h4>
            <span>Publié le {{ article.date | date("m/d/Y") }}</span>
        </div>
    </div>
</a>