<a href="articles/{{ article.url }}">
    <div class="article-thumbnail">
        <img src=" {{ asset('upload/' ~ article.id ~ '/thumbnail.jpg') }}">
        <div class="article-thumbnail-info">
            <h3>{{ article.title }}</h3>
            <h4> {{ article.epigraphe }}</h4>
            <div class="author-thumbnail">
                <div class="image-cropper-thumbnail">
                    <img src="https://avatars0.githubusercontent.com/u/11649293?s=400&v=4">
                </div>
                <div>
                    <p><strong>Bastien Huber</strong></p>
                    <p>Publié le {{ featured.date | date("m/d/Y") }}</p>
                </div>
            </div>
        </div>
    </div>
</a>