{% extends 'base.html.twig' %}

{% block meta %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@bastien_hub">
    <meta name="twitter:title" content="Blog | Huberisation">
{% endblock %}

{% block title %}Blog | Huberisation{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/blog.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/article-thumbnail.css') }}">
{% endblock %}

{% block nav %}
    {% include 'nav.html.twig' %}
{% endblock %}

{% block body %}

    <a href="articles/{{ featured.url }}">
        <header>
            <img src="{{ asset('uploads/articles/' ~ featured.vignette) }}">
            <div class="article-info">
                <h1>{{ featured.title }}</h1>
                <h3>{{ featured.epigraphe }}</h3>
                <span>Publié le {{ featured.date | date("m/d/Y") }}</span>
                </div>
            </div>
        </header>
    </a>

    <section id="articles">
        {% for article in articles %}
            {{ include('partials/article-thumbnail.html.twig', { 'article': article }) }}
        {% endfor %}
    </section>

{% endblock %}

{% block javascripts %}
    <script>window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function(f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));</script>
    <script src="{{ asset('build/js/twitter_widgets.js') }}"></script>
{% endblock %}